/* var */
:root{
    --font-color: #0e023ffd;
    --backgound-title-task:#0e023ffd;
}



.body-home{
    display: grid;
    position:fixed;
    top:0;
    bottom: 0;
    width: 100vw;
    grid-template-columns: 6% 94%;
 
}


.content-home{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* content-date */
.content-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}


/* timer */
#timer{
    font-size: 2.1rem;
    font-weight: bolder;
    margin-top: 2rem;
}

/* date-today */
#date-today{
    font-size: 13px;
    color: #4b4b4d;
}

/* message welcome */

.message{
    font-size: 30px;
    
}

#message-name-user{
    font-weight: bolder;
}

.list-task-title{
    display: flex;
    align-items: start;
    width: 95%;
    padding-left: 1%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.list-task-title h1{
    color: var(--font-color);
    font-size: 30px;
    font-weight: bolder;
}


/* list task */

.list{
    
    width: 95%;
    border:1px solid red;
    margin-bottom: 2%;
    
}

.title-task
{
    
    width:25rem;
    max-width: 25rem;
    text-wrap: nowrap;
    border: 1px solid green;
}

.task-content{
    display: grid;
    justify-content:space-between;
    align-items: center;
    grid-template-columns: 20% 40% 10%;
}

.description-list{
    display: flex;
    justify-content: center;
}

/* figure and triangle */

.figure{
    background-color: var(--backgound-title-task);
    padding: 10px;
    height: 30px;
width: auto;
    margin-top: 10px;
    margin-left: 10px;
    color: aliceblue;
    display: flex;

    justify-content: center;
    align-items: center ;
    font-size: 25px;
}