/* var */
:root{
    --font-color: #0e023ffd;
    --backgound-title-task:#0e023ffd;
}



.body-home{
    display: grid;
    position:fixed;
    top:0;
    bottom: 0;
    width: 100vw;
    grid-template-columns: 6% 94%;
 
}


.content-home{
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-x: auto;
}

/* content-date */
.content-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}


/* timer */
#timer{
    font-size: 2.1rem;
    font-weight: bolder;
    margin-top: 2rem;
}

/* date-today */
#date-today{
    font-size: 13px;
    color: #4b4b4d;
}

/* message welcome */

.message{
    font-size: 30px;
    
}

#message-name-user{
    font-weight: bolder;
}

.list-task-title{
    display: flex;
    align-items: start;
    width: 95%;
    padding-left: 1%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.list-task-title h1{
    color: var(--font-color);
    font-size: 30px;
    font-weight: bolder;
}


/* list task */

.list{
    width: 95%;
    height: auto;
    margin-bottom: 2%;
}

.title-task
{
    width:25rem;
    display: flex;   
    max-width: 25rem;
    text-wrap: nowrap;
    
}

.task-content{
    display: grid;
    justify-content:space-between;
    align-items: center;
    grid-template-columns: 15% 40% 15%;
}

.task-content p{
    display: flex;
    flex-wrap: wrap;
    text-align:left;
    font-size: 20px;
    color:var(--font-color);
}


.description-list{
    display: flex;
    justify-content: center;
}

.date-list{
    color: #3e3e3e;
    margin-left: -10px;
    margin-bottom: 5px;
}

.span-day{
    font-weight: bold;
    font-size: 20px;
}



/* figure and triangle */

.figure{
    background-color: var(--backgound-title-task);
    border-radius: 13px;
    padding: 5px 15px;
    height: 30px;
    width: auto;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 25px;
}

/* line-hr */
.hr-content{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6px;
    
}

.hr-line{
    width: 60vw;
    border-bottom: 1px solid #ccc
}

